<header>
  <nav>
    <h1>{{title}}</h1>
    <ul class="mobile-hidden">
      <a routerLink="/" routerLinkActive="active">
          Home
      </a>
      <a routerLink="/trump-quotes" routerLinkActive="active">
        Trump Quotes
      </a>
      <a routerLink="/hillary-emails" routerLinkActive="active">
        Hillary's Emails
      </a>
    </ul>
    <div class="dropdown" dropdown [(isOpen)]="status.isOpen">
      <button id="dropdown-list" type="button" class="btn btn-default" dropdownToggle>
        <span class="fa fa-bars"></span>
      </button>
      <ul class="dropdown-menu desktop-hidden" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="/" routerLinkActive="active">
            Home</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/trump-quotes" routerLinkActive="active">
            Trump Quotes </a>
        </li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/hillary-emails" routerLinkActive="active">
            Hillary's Emails</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>
