<h2> Search Hillary's Emails </h2>

<h4>Search by:</h4>
<input type="radio" [(ngModel)]="type" name="search-type" value="subject" id="search-subject">
  <label for="search-subject">Subject</label>
<input type="radio" [(ngModel)]="type" name="search-type" value="sender" id="search-sender">
<label for="search-sender">Sender</label>
<input type="radio" [(ngModel)]="type" name="search-type" value="recipient" id="search-recipient">
<label for="search-recipient">Recipient</label>
<div>
  <input [(ngModel)]="term" placeholder="Search Term">
  <button (click)="search(type, term)">Go</button>
</div>

<div class="email" *ngIf="email">
  <h4>To: {{email.to}}</h4>
  <h4>From: {{email.from}}</h4>
  <h4>{{email.subject}}</h4>
  <h3>{{email.text}}</h3>
</div>

<ul *ngIf="subjects">
  <li *ngFor="let subject of subjects" class="listing" (click)="getById(subject.id)">
    <h5>Email {{subject.id}}</h5>
  </li>
</ul>

<ul *ngIf="sender">
  <li *ngFor="let sender of senders" class="listing">
    <h5>subject {{subject.id}}</h5>
  </li>
</ul>

<ul *ngIf="recipient">
  <li *ngFor="let recipient of recipients" class="listing">
    <h5>subject {{subject.id}}</h5>
  </li>
</ul>
