<h2> Search Hillary's Emails </h2>

<h4>Search by:</h4>
<input type="radio" [(ngModel)]="type" name="search-type" value="subject" id="search-subject">
  <label for="search-subject">Subject</label>
<input type="radio" [(ngModel)]="type" name="search-type" value="sender" id="search-sender">
<label for="search-sender">Sender</label>
<input type="radio" [(ngModel)]="type" name="search-type" value="recipient" id="search-recipient">
<label for="search-recipient">Recipient</label>
<div>
  <input [(ngModel)]="term" placeholder="Search Term">
  <button (click)="search(type, term)">Go</button>
</div>

<div class="email" *ngIf="email">
  <h4>To: {{email.to}}</h4>
  <h4>From: {{email.from}}</h4>
  <h4>{{email.subject}}</h4>
  <h3>{{email.body}}</h3>
</div>

<div *ngIf="emails">
  <div *ngFor="let email of emails; let i = index" class="listing" (click)="getById(email.id)">
    <div *ngIf="i<10">
      <h5>Email {{email.id}}</h5>
    </div>
  </div>
</div>
